<?xml version="1.0"?>
<config>
    <modules>
        <Ninja_Mext>
            <version>0.0.1</version>
        </Ninja_Mext>
    </modules>
    <frontend>
        <layout>
            <updates>                
                <mext>
                    <file>mext.xml</file>
                </mext>                
            </updates>
        </layout>
  		<events>
            <controller_action_layout_load_before>
                <observers>
                    <inchoo_controller_action_layout_load_before>
                        <class>mext/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </inchoo_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>                     
    </frontend> 
    <global>
        <models>
            <mext>
                <class>Ninja_Mext_Model</class>
            </mext>            
        </models>
        <blocks>
            <mext>
                <class>Ninja_Mext_Block</class>
            </mext>
        </blocks>
        <helpers>
            <mext>
                <class>Ninja_Mext_Helper</class>
            </mext>
        </helpers>
    </global>
</config>